.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 32% 1.5% 32% 34.5%;
    gap: 1px;
    padding: 10px;
}

.item,
.form-item {
    padding: 2px;
    border: 1px #ccc;
    background-color: #f9f9f9;
    text-align: center;
}

.points {
    align-content: center;
    font-size: large;
    font-weight: bold;
}

.form-item {
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-item select {
    width: 95%;
    padding: 10px;
    box-sizing: border-box;
    font-size: medium;
}

.form-item button {
    padding: 10px 20px;
    width: 100%;
}

.row-3 {
    grid-column: span 4;
    height: 100px;
}